<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dvt.elementui.biz.dao.SysPermissionMapper">
  <resultMap id="BaseResultMap" type="com.dvt.elementui.biz.model.SysPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="permission_code" jdbcType="VARCHAR" property="permissionCode" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="required_permission" jdbcType="BIT" property="requiredPermission" />
  </resultMap>

    <resultMap id="userPermissionMap" type="com.dvt.elementui.common.bean.UserPermission">
        <id column="userId" property="userId" />
        <result column="nickname" property="nickname" />
        <result column="roleId" property="roleId" />
        <result column="roleName" property="roleName" />
        <collection ofType="String" property="menuList">
            <id column="menuCode" property="menuCode" />
        </collection>
        <collection ofType="String" property="permissionList">
            <id column="permissionCode" property="permissionCode" />
        </collection>
    </resultMap>

    <select id="getUserPermission" resultMap="userPermissionMap">
        SELECT
        u.id userId,
        u.nickname nickname,
        u.role_id roleId,
        r.role_name roleName,
        p.menu_code menuCode,
        p.permission_code permissionCode
        FROM sys_user u
        LEFT JOIN sys_role r ON r.id = u.role_id
        LEFT JOIN sys_role_permission rp ON u.role_id = rp.role_id
        LEFT JOIN sys_permission p ON rp.permission_id = p.id AND rp.delete_status='1'
        WHERE u.username = #{username}
        AND u.delete_status='1'
    </select>

    <select id="getAllPermission" resultType="String">
        SELECT p.permission_code permissionCode
        FROM sys_permission p
        ORDER BY p.id
    </select>
    <select id="getAllMenu" resultType="String">
        SELECT p.menu_code menuCode
        FROM sys_permission p
        ORDER BY p.id
    </select>

    <resultMap id="permissionMap" type="com.dvt.elementui.common.bean.UserPermission">
        <id column="menuName" property="menuName" />
        <collection ofType="com.dvt.elementui.biz.model.SysPermission" property="permissions">
            <id column="id" property="id" />
            <result column="permissionName" property="permissionName" />
            <result column="requiredPerm" javaType="Boolean" property="requiredPermission" />
        </collection>
    </resultMap>
    <select id="listAllPermission" resultMap="permissionMap">
        SELECT
            p.id                  id,
            p.menu_name           menuName,
            p.permission_name     permissionName,
            p.required_permission requiredPerm
        FROM sys_permission p;
    </select>
</mapper>